html{
    margin: 0;
    padding : 0;
    background: #d39e5d;
    color: rgb(10, 10, 10);
}
body{
    width: 80%;
    margin: 10px auto;
}
header{
    background: #9a3a0e;
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
p{
    float: left;
    width: 50%; 
    height: 110px;
    margin: 20px 20px;
    padding: 20px 20px;
    background: rgba(152, 110, 26, 0.744);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.texto2{
    float: right;
    width: 50%; 
    height: 110px;
    margin: 20px 20px;
    padding: 20px 20px;
    background: rgba(152, 110, 26, 0.744);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.texto3{
    float: left;
    width: 50%; 
    height: 110px;
    margin: 20px 20px;
    padding: 20px 20px;
    background: rgba(152, 110, 26, 0.744);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
footer{
    float: right;
    margin: 10px 10px;
    color: #ffff;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    float: left;
    width: 30%;
}
